body{
   background-image:url('media/background3.png'); 
   margin:0;
}
h1,h2,h3{
    color:black;
}
.navbar{
    width:100%;
    background-color: black;
    height:70px;
    margin-bottom: 10px;
}
.navbar ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
    height:70px;
}
.navbar a{
    color:white;
    transition:all 0.3s
}
.navbar a:hover{
    color:lightblue;
}
.card{
    display:block;
    background-color: rgb(230,230,230);
    width:1100px;
    height:1500px;
    margin:0 auto;
    border-radius: 10%;
}
.info{
    display:flex;
    align-items: center;    
}
.imgMe{
   width:250px;
   display:inline-block;
   border-radius: 25%;
   margin-left:40px;
   margin-top:20px;
   
}

.info2{
    width:300px;
    margin:0 auto;
    margin-top:0;
    border:2px double white;
    background-color:black;
    color:white;
    height:200px;
    border-radius: 25%;
    

}
.info2 li{
    font-size:20px;
    margin-bottom:5px;
}
.ls1{
    margin-top:20px;
}
.about h1{
    text-align:center;
    font-size:40px;
    

}
.about h2{
    text-align: center;
}
.about{
    position:relative;
    margin-top:20px;
    border:2px solid black;
    height:500px;
}
.me{

    display:inline-block;
    width:500px;
    margin-left:20px;
    
    font-size:24px;
    padding:10px;
}

.mycountry{
    display:inline-block;
    width:500px;
    padding:10px;
    font-size:24px;
    margin-left:20px;
}
.flag{
    display:block;
    margin:0 auto;
}
.SKILL h2{
    text-align: center;
    
}
.SKILL{
    font-size:22px;
    text-align:center;
}
.htmlbar{
    background-color:black;
    height:20px;
    width:500px;
    margin:0 auto;
    z-index:-1;
}
.cssbar{
    background-color:black;
    height:20px;
    width:500px;
    margin:0 auto;
    z-index:-1;
}
.jsbar{
    background-color:black;
    height:20px;
    width:500px;
    margin:0 auto;
    z-index: -1;
}
.pybar{
    background-color:black;
    height:20px;
    width:500px;
    margin:0 auto;
    z-index:-1;
}
.htmlbar div{
    background-color:green;
    width:300px;
    height:20px;

}
.cssbar div{
    background-color:green;
    width:300px;
    height:20px;
}
.jsbar div{
    background-color:green;
    width:320px;
    height:20px;
}
.pybar div{
    background-color:green;
    width:350px;
    height:20px;
}
#darkmode{
    background-color: white;
    color:black;
    width:60px;
    height:60px;
    border-radius: 100%;

}
#darkmode:active{
    width:50px;
    height:50px;
    
}
.dark-mode {
    color: white;
    background-color: black;
  }
  
  /* Additional dark mode styles for specific elements */
  .dark-mode #cardd {
    background-color: black;
  }
.container{
    display:grid;
    justify-content: center;
    grid-template-columns:200px;
    text-align: center;
    width:50%;
    margin: 0 auto;
    background-color:white;
    font-size:120%;
    height:500px;
    align-items:center;
}
.flagquiz{
    background-color: white;
    text-align: center;
    
}



  @media (max-width: 576px) {
    .card {
        width: 90%; /* Adjust the width for smaller screens */
        height: 1520px; /* Allow the height to adjust according to content */
    }
    .imgMe {
        width: 150px; /* Decrease the width of the image for smaller screens */
        margin:0 auto;
        margin-top:10px;
    }
    .about h2{
        margin-right:10px;
    }
    .mycountry p{
        width:90%;
        margin:0 auto;
    }
    .info {
        flex-direction: column; /* Stack the elements vertically */
        text-align: center;
    }
    .info2 {
        width: 80%; /* Adjust the width for smaller screens */
        margin: 20px auto; /* Center the element */
    }
    .me p{
        width:90%;
        margin:0 auto;
        margin-left:5%;
        margin-right:5%;
    }
    .about{
        height:fit-content;
        width:95%;
        margin:0 auto;
    }
    .SKILL{
        height:fit-content;
    }
    .me,
    .mycountry {
        font-size:15px;
        width: 100%; /* Adjust the width for smaller screens */
        margin-left: 0px;
         /* Remove the left margin */
        text-align: center; /* Center the text */
    }
    .flag {
        width: 150px; /* Decrease the width of the flag image for smaller screens */
    }
    .htmlbar{
        background-color:black;
        height:20px;
        width:50%;
        margin:0 auto;
        z-index:-1;
    }
    .cssbar{
        background-color:black;
        height:20px;
        width:50%;
        margin:0 auto;
        z-index:-1;
    }
    .jsbar{
        background-color:black;
        height:20px;
        width:50%;
        margin:0 auto;
        z-index: -1;
    }
    .mycountry{
        display:block;

    }
    .SKILL h2{
        font-size:20px;
    }
    .SKILL{
        display:block;
    }
    .pybar{
        background-color:black;
        height:20px;
        width:50%;
        margin:0 auto;
        z-index:-1;
        margin-bottom:10px;
    }
    .htmlbar div{
        background-color:green;
        width:50%;
        height:20px;
    
    }
    .cssbar div{
        background-color:green;
        width:60%;
        height:20px;
    }
    .jsbar div{
        background-color:green;
        width:70%;
        height:20px;
    }
    .pybar div{
        background-color:green;
        width:70%;
        height:20px;
    }
    
}